aiohappyeyeballs   2.6.1
aiohttp            3.12.15
aiosignal          1.4.0
annotated-types    0.7.0
anyio              4.11.0
attrs              25.3.0
blis               0.7.11
catalogue          2.0.10
certifi            2025.7.14
cffi               1.17.1
chardet            5.2.0
charset-normalizer 3.4.2
click              8.1.8
cloudpathlib       0.16.0
confection         0.1.5
cymem              2.0.11
Cython             3.1.2
datasets           2.21.0
dill               0.3.8
distro             1.9.0
docutils           0.21.2
editdistpy         0.1.6
en-core-web-sm     3.7.1
filelock           3.19.1
filetype           1.2.0
frozenlist         1.7.0
fsspec             2024.6.1
ftfy               6.3.1
gitdb              4.0.12
GitPython          3.1.45
gTTS               2.5.4
h11                0.16.0
hf-xet             1.1.7
httpcore           1.0.9
httpx              0.28.1
huggingface-hub    0.34.4
idna               3.10
jellyfish          1.2.1
Jinja2             3.1.6
jiter              0.11.0
joblib             1.5.2
Kivy               2.3.1
Kivy-examples      2.3.1
Kivy-Garden        0.1.5
kivymd             1.2.0
langcodes          3.5.0
language_data      1.3.0
llvmlite           0.44.0
locate             1.1.1
marisa-trie        1.3.0
markdown-it-py     4.0.0
MarkupSafe         3.0.2
mdurl              0.1.2
more-itertools     10.7.0
mpmath             1.3.0
msgpack            1.1.1
multidict          6.6.4
multiprocess       0.70.16
murmurhash         1.0.13
networkx           3.5
nltk               3.9.1
numpy              1.26.4
openai             2.4.0
packaging          25.0
pillow             10.4.0
pip                25.2
platformdirs       4.3.8
pocketsphinx       5.0.3
preshed            3.0.10
propcache          0.3.2
protobuf           6.32.0
psutil             7.0.0
pyarrow            21.0.0
PyAudio            0.2.14
pycparser          2.22
pydantic           2.11.7
pydantic_core      2.33.2
pygame             2.6.1
Pygments           2.19.2
python-dateutil    2.9.0.post0
pytz               2025.2
PyYAML             6.0.2
RapidFuzz          3.13.0
regex              2024.11.6
requests           2.32.4
rich               14.1.0
safetensors        0.6.2
scikit-learn       1.4.2
scipy              1.16.2
sentencepiece      0.2.1
sentry-sdk         2.35.0
setuptools         80.9.0
shellingham        1.5.4
silpa-common       0.3
six                1.17.0
smart-open         6.4.0
smmap              5.0.2
sniffio            1.3.1
sounddevice        0.5.2
soundex            1.1.3
spacy              3.7.2
spacy-legacy       3.0.12
spacy-loggers      1.0.5
SpeechRecognition  3.14.3
srsly              2.5.1
srt                3.5.3
sympy              1.14.0
symspellpy         6.9.0
textdistance       4.6.3
thinc              8.2.5
threadpoolctl      3.6.0
tiktoken           0.11.0
tokenizers         0.21.4
tqdm               4.67.1
transformers       4.55.2
typer              0.9.4
typing_extensions  4.14.1
typing-inspection  0.4.1
tzdata             2025.2
urllib3            2.5.0
vosk               0.3.45
wandb              0.21.1
wasabi             1.1.3
wcwidth            0.2.13
weasel             0.3.4
websockets         15.0.1
wheel              0.45.1
wordfreq           3.1.1
wrapt              1.17.3
xxhash             3.5.0
yarl               1.20.1
